body {
	font-family: Roboto Thin;
	background-image: url('../images/background-courses.png');
	background-attachment: fixed;
	background-size: 100% 100%;
}
			
dt {
	font-weight: bold;
	color: #F3D000;
	font-size: 20px;
}
			
dd {
	font-weight: bold;
	color: #ddd4e0;
}
			
.course-list {
	min-width: 250px;
	padding: 20px;
	margin-left: 100px;
}